
  /* global no border no margin no padding */

  *{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.row:before, .row:after{

    content:" ";
    display: table;

}

.row:after{
    clear:both;

}

/* toma todas las clases con col y les da estas propiedades*/

[class*="col-"]{
    min-height: 7px;
    padding: 7px;
    float:left;
    max-width: 100%;


}
.col-1 {
    /* (1 / 12) x 100 */
    width: 8.333333%;
  } 
  
  .col-2 {
    /* (2 / 12) x 100 */
    width: 16.666667%;
  } 
  
  .col-3 {
    /* (3 / 12) x 100 */
    width: 25%;
  } 
  
  .col-4 {
    /* (4 / 12) x 100 */
    width: 33.333333%;
  }
  
  .col-5 {
    /* (5 / 12) x 100 */
    width: 41.666667%;
  }
  
  .col-6 {
    /* (6 / 12) x 100 */
    width: 50%;
  } 
  
  .col-7 {
    /* (7 / 12) x 100 */
    width: 58.333333%;
  }
  
  .col-8 {
    /* (8 / 12) x 100 */
    width: 66.666667%;
  }
  
  .col-9 {
    /* (9 / 12) x 100 */
    width: 75%;
  }
  
  .col-10 {
    /* (10 / 12) x 100 */
    width: 83.333333%;
  }
  
  .col-11 {
    /* (11 / 12) x 100 */
    width: 91.666667%;
  }
  
  .col-12 {
    /* (12 / 12) x 100 */
    width: 100%;
  }



/* media queries for Grid system */
  @media (max-width: 868px){

    .col-m-1 {
      /* (1 / 12) x 100 */
      width: 8.333333%;
    } 
    
    .col-m-2 {
      /* (2 / 12) x 100 */
      width: 16.666667%;
    } 
    
    .col-m-3 {
      /* (3 / 12) x 100 */
      width: 25%;
    } 
    
    .col-m-4 {
      /* (4 / 12) x 100 */
      width: 33.333333%;
    }
    
    .col-m-5 {
      /* (5 / 12) x 100 */
      width: 41.666667%;
    }
    
    .col-m-6 {
      /* (6 / 12) x 100 */
      width: 50%;
    } 
    
    .col-m-7 {
      /* (7 / 12) x 100 */
      width: 58.333333%;
    }
    
    .col-m-8 {
      /* (8 / 12) x 100 */
      width: 66.666667%;
    }
    
    .col-m-9 {
      /* (9 / 12) x 100 */
      width: 75%;
    }
    
    .col-m-10 {
      /* (10 / 12) x 100 */
      width: 83.333333%;
    }
    
    .col-m-11 {
      /* (11 / 12) x 100 */
      width: 91.666667%;
    }
    
    .col-m-12 {
      /* (12 / 12) x 100 */
      width: 100%;
    }
  
 }




 @media screen and (max-width: 580px) {
  .row {
      margin-top: 0;
  }
  .col-s-1 {
    /* (1 / 12) x 100 */
    width: 8.333333%;
  } 
  
  .col-s-2 {
    /* (2 / 12) x 100 */
    width: 16.666667%;
  } 
  
  .col-s-3 {
    /* (3 / 12) x 100 */
    width: 25%;
  } 
  
  .col-s-4 {
    /* (4 / 12) x 100 */
    width: 33.333333%;
  }
  
  .col-s-5 {
    /* (5 / 12) x 100 */
    width: 41.666667%;
  }
  
  .col-s-6 {
    /* (6 / 12) x 100 */
    width: 50%;
  } 
  
  .col-s-7 {
    /* (7 / 12) x 100 */
    width: 58.333333%;
  }
  
  .col-s-8 {
    /* (8 / 12) x 100 */
    width: 66.666667%;
  }
  
  .col-s-9 {
    /* (9 / 12) x 100 */
    width: 75%;
  }
  
  .col-s-10 {
    /* (10 / 12) x 100 */
    width: 83.333333%;
  }
  
  .col-s-11 {
    /* (11 / 12) x 100 */
    width: 91.666667%;
  }
  
  .col-s-12 {
    /* (12 / 12) x 100 */
    width: 100%;
  }


  /* .row [class^='col-'] {
      width: 100%;
      margin-top: 2.0833%;
      margin-left: 0;
  } */
}

