@import 'https://fonts.googleapis.com/css?family=Roboto::100,300,400,900,700,500';

html{
	font-size: 14px;
	color: #666666;
}
body{
	font-family: 'Roboto', sans-serif;
}


/* css for login and register*/

.logobox-large{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.logoimg-large{
    width: 130px;
    
}


/* boton logout */
.logoutBtnBox{
    display: flex;
    justify-content: center;
    align-items: center;
}


.hide{
    display: none;
}
.margin-container{
margin-top: 40px;

}
/* formulario */

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form-signBtn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #884EA0;
    width: 100%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  

  }
  .formSignBtn:hover,.formSignBtn:active,.formSignBtn:focus {
    background: #AF7AC5;
  }

/* google button */

  .google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
    
  }

  .google-button:focus,
  .google-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  
  .google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }

      
  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }
  
  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
  }

/* Facebook button*/
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 14px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  

  
/* css for  header, main and footer page*/

header{
    background-color: #f2f2f2;
    overflow: hidden;
    top: 0;
    width: 100%;

}

ul {
  list-style-type: none;
  margin-right: 50px;
  padding: 0;
  overflow: hidden;
  float: right;



}

li {
  float: left;
  
 
}

li a {
  display: block;
  color: #8d57a1;
  text-align: center;
  font-weight: 500;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #111;
}


  .icons-footer{
    flex-direction: row;
    display: flex;
    justify-content: center;
    font-size: 28px;
    
  }
  .icons-footer a{
    color: #666;

  }
  .icons-footer a:focus,
  .icons-footer a:hover{
    color: #884EA0;
  }

  .active{
    color: #884EA0;
  }

  .boxicon_nav{
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  footer{
    background-color: #f2f2f2;
    width: 100%;
    position: fixed;
    clear: both;
    height:140px;
    margin-top: 0px;
    padding-top: 10px;
    overflow: visible;
    top:90%;
    z-index: 100;
 

  }

  .footericons{
    display:none;
  }

  #index_page{
    margin-bottom: 100px;
    margin-top: 30px;
  }
 .font-footer{
  text-align: center;
  margin-top: 20px;
   color:#8d57a1;
 }

/*** CARD STLES ***/

.cards-container{

  max-width: 100%;
  margin: 2rem auto;
}


.card-one{
  position: relative;
  width: 80%;
  margin: 10%;
  background: #fff;
  box-shadow: 0 0 60px 2px rgba(0,0,0,.10);

} 
.header_card{
    position: relative;
    width: 100%;
    height: 60px;
    background-color:#884EA0; 
   }
    
.header_card::before, .header_card::after{
      content: '';
      position: absolute;
      top: 0;bottom: 0;left: 0;right: 0;
      background: inherit;
    }
.header_card::before{
      -webkit-transform: skewY(-8deg);
      -moz-transform: skewY(-8deg);
      -ms-transform: skewY(-8deg);
      -o-transform: skewY(-8deg);
      transform: skewY(-8deg);
      -webkit-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      -o-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
.header_card::after{
      -webkit-transform: skewY(8deg);
      -moz-transform: skewY(8deg);
      -ms-transform: skewY(8deg);
      -o-transform: skewY(8deg);
      transform: skewY(8deg);
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }
.avatar{
      position: absolute;
      left: 50%;
      top: 30px;
      margin-left: -50px;
      z-index: 5;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      background: #c8c;
      border:3px solid #fff;}
.avatar img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;
      }
    
 .info-user-p{
    position: relative;
    margin: 80px 0 30px;
    text-align: center;}
.info-user-p::after{
      content: '';
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 1px;
      background: #000;
    }
  
.desc{
    padding: 0 1rem 2rem;
    text-align: center;
    line-height: 1.5;
    color: #777;
  }
 .contacts{
    width: 200px;
    max-width: 100%;
    margin: 0 auto 3rem;}
.contacts   a{
      display: block;
      width: 33.333333%;
      float: left;
      text-align: center;
      color:#c8c ;}

.contacts   a:hover{
        color: #333;}

  
  .footer_card{
    position: relative;
    padding: 1rem;
    background-color:#884EA0;
    text-align: center;}

.footer_card a{
      padding: 0 1rem;
      color: #e2e2e2;
      -webkit-transition: color .4s;
      -moz-transition: color .4s;
      -ms-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;
    }
.footer_card a:hover{
        color:#c8c;
      }

.footer_card::before{
      content: '';
      position: absolute;
      top: -27px;
      left: 50%;
      margin-left: -15px;
      border: 15px solid transparent;
      border-bottom-color: #884EA0;
    }

    #addpost_container{
      display: none;
    }
    #recipes_container{
      display: none;
      margin-bottom: 50px;
    }
    #profile_container{
      display: none;
      margin-bottom: 50px;
    }
    #search_container{
      display: none;
      margin-bottom: 50px;
    }
    
    
    
    .box_text{
    
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 60px;
      background: #fff;
      box-shadow: 0 0 20px 2px rgba(0,0,0,.10);
      padding: 8px;
      border: 1px solid #ae71e6;
      position: relative;
    } 
    .box-header{
        width: 100%;
        height: 60px;
        background-color: #f1f1f1; 
    }
    .name-post {
      margin-left: 60px;
      font-size: 16px;
      color: #444;
      padding-top: 15px;
    }

    .name-post2{
      font-size: 16px;
      color:#fff;
      padding-top: 15px;
      text-align: center;
    }
    .box-header2{
      width: 100%;
      height: 60px;
      background-color: rgb(146, 100, 165); 
  }  
       .avatar_post{
        position: absolute;
        left: 5%;
        top: -7px;
        margin-left: -54px;
        z-index: 5;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        background: #c8c;
        border: 3px solid #fff;}

    .avatar_post img{
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 80px;
          height: auto;
        }  
       .box-content{
         padding: 15px 5px;
       } 
    
       .box-buttons{
        position: relative;
        padding: 1rem;
        text-align: center;}
    
    
        .btn-likecoment{
       font-family: "Roboto", sans-serif;
          text-transform: uppercase;
          outline: 0;
          background:rgb(146, 100, 165);
          width: 100%;
          border: 0;
          padding: 10px;
          color: #FFFFFF;
          font-size: 12px;
          -webkit-transition: all 0.3 ease;
          transition: all 0.3 ease;
          cursor: pointer;
      
        }    
  
  /* media queries for css style */
.coment-post{
width: 100%;
height: 85px;
}

@media (max-width: 868px){
.footericons{
      display:block;
    }
.menu-header{
     display:none;
   } 
.logobox{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left:0px;
}
.logo-img-main{
  width: 120px;
}
.footer-copyright{
  display:none;
}
footer{
 height:100px;


}
  
}

@media screen and (max-width: 580px){
.form {
    box-shadow:none;

    }
.marginContainer{
     margin-top: 40px;
 }
 .avatar_post{
  left: 10%;

 }
}

* {
  box-sizing: border-box;
}

.text, #coments {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#container-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#coments{
  height:200px;
}

.label-coments {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.input-coments {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .label-coments, .input-coments{
    width: 100%;
    margin-top: 0;
  }
}


